.cart {
    margin-top: 85.8px;
    padding: 30px 0 0 0;
}

.cart-heading {
    font-weight: 500;
    padding: 0 15px;
    margin-bottom: 40px;
}

.cart-head {
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid var(--border-color);
    
}

.cart-head-item {
    display: block;
    font-weight: 700;
}

.cart-head-item:last-child {
    color: rgb(255, 66, 78);
    cursor: pointer;
    font-size: 18px;
    transition: all .25s ease;
}

.cart-head-item:last-child:hover {
    color: rgb(248, 140, 147);
}

.col-1,
.col-6 {
    width: 55px;
    text-align: center;
}

.col-2 {
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.col-3,
.col-5 {
    max-width: 100px;
    width: 100%;
    text-align: center;
}

.col-4 {
    max-width: 150px;
    text-align: center;
    width: 100%;
}

.cart-item {
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    padding: 15px 0;
    border-top: 1px solid var(--border-color);
}

.cart-product {
    align-items: center;
    text-align: start;
    gap: 2rem;
}

.product-img-box {
    max-width: 160px;
    width: 100%;
    height: 240px;
}

.cart-product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-total {
    font-weight: 500;
    color: rgb(255, 66, 78);
}

.cart-delete {
    cursor: pointer;
    color: rgb(255, 66, 78);
}

.cart-delete:hover {
    color: rgb(248, 140, 147);
}

.cart-null {
    padding: 100px 0;
    text-align: center;
}

.cart-bill {
    /* margin-top: 40px; */
    padding: 0 15px;
    display: flex;
    justify-content: end;
    border-top: 1px solid var(--border-color);
}

.cart-bill-main {
    width: 400px;
    padding: 20px;
}

.bill-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* background-color: #fff; */
}

.bill-heading {
    /* text-align: right; */
    font-weight: 500;
}

.total-bill {
    font-size: 2.2rem;
    color: rgb(255, 66, 78);
    font-weight: 700;
}

.bill-vat {
    font-weight: 300;
    font-size: 1.2rem;
    text-align: right;
    display: block;
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
}

.freeship-block {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
    margin-top: 20px;
}

.freeship-img {
    width: 80px;
    height: 12px;
    object-fit: cover;
}

.cart-buy {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 300;
    background-color: var(--second-color);
    color: #fff;
    transition: all .25s ease-in-out;
}

.cart-buy:hover {
    background-color: var(--hover-color);
    font-weight: 700;
}

.toggle-quantity {
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    background-color: #fff;
}

.decrement {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

.increment {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}