/* HEADER */
.header {
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--border-color);
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.header-top {
    justify-content: space-between;
}

.header-logo {
    width: 185px;
}

.logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-above {
    justify-content: end;
    font-size: 1.4rem;
    font-weight: 300;
}

.above-item {
    align-items: center;
    gap: 1rem;
    padding: 2px 15px;
    transition: color ease .25s;
}

.above-item:hover {
    cursor: pointer;
    color: var(--hover-color);
}

.above-item:not(:last-child) {
    border-right: 1px solid var(--line-color);
}

.account {
    position: relative;

}

.account::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 120px;
    height: 15px;
    opacity: 0;
}

.above-item:first-child:hover .page-logout {
    display: block;
}

.page-logout {
    position: absolute;
    right: 0;
    top: 25px;
    width: 140px;
    text-align: center;
    display: block;
    background-color: #fff;
    padding: 8px 0;
    z-index: 9999;
    display: none;
}

.page-logout:hover {
    color: var(--hover-color);
    font-weight: 700;
}


.menu-list {
    margin: 0;
    padding-top: 15px;
    list-style: none;
    gap: 20px;
    font-weight: 500;
    justify-content: end;
    align-items: center;
    font-size: 1.6rem;
}

.item-link {
    display: block;
    padding-bottom: 25px;
    position: relative;
    text-transform: uppercase;
}

.item-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid var(--second-color);
    opacity: 0;
    transition: all ease .25s;
}

.menu-active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 3px solid var(--second-color);
    opacity: 1;
}

.item-link:hover:after {
    opacity: 1;
}

/* BANNER */
.product-banner {
    width: 100%;
    margin-top: 120px;
}

.product-banner-link {
    display: block;
}

.product-banner-img {
    width: 100%;
}

/* MAIN PRODUCT */
.main-product {
    margin-top: 50px;
}

.category {
    flex: 0 0 214px;
}

.category-title {
    color: var(--second-color);
    font-weight: 700;
    padding-bottom: 5px;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.category-menu {
    list-style: none;
}

.catgory-menu-item {
    font-weight: 300;
}

.category-menu-item0 li {
    padding-top: 20px;
    border-top: 1px solid var(--border-color);
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 15px;
}

.category-menu > li {
    padding: 6px 0;
    transform: translateX(20px);
}

.category-menu > li:hover {
    font-weight: 700;
}

.catgory-menu-item.pb-10 {
    padding-bottom: 15px;
}

.list-product {
    flex-grow: 1;
    padding-left: 30px;
}

.list-product-head {
    border-bottom: 1px solid var(--border-color);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.product-head-wrap {
    gap: 2rem;
    align-items: center;
}

.product-head-wrap span {
    font-weight: 300;
    font-size: 1.2rem;
    color: var(--text-color);
}

.product-sort {
    cursor: pointer;
    gap: 1rem;
    align-items: center;
    font-weight: 700;
}

/* PRODUCT */
.product-list {
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.product-item {
    padding: 0 10px;
    margin-bottom: 20px;
    max-width: 25%;
}

@media (min-width: 992px) { 
    .product-item {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
}

.product-link {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.product-link img {
    transition: all .35s ease-in;
    max-width: 100%;
}

.product-img-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.product-link:hover .product-img-hover {
    opacity: 1;
}

.product-price {
    align-items: center;
    gap: 2rem;
}

.new-price {
    color: var(--second-color);
    font-weight: 700;
}

.old-price {
    font-weight: 300;
    text-decoration: line-through;
    color: var(--text-color);
    font-size: 1.3rem;
}

.product-name {
    font-weight: 300;
    font-size: 1.3rem;
    margin: 8.5px 0 10px 0;
}

.product-name:hover {
    cursor: pointer;
    font-weight: 700;
}

.product-price-heart {
    align-items: center;
    justify-content: space-between;
}

.heart,
.heartRed {
    transition: color .25s ease;    
}

.heart:hover,
.heartRed:hover {
    color: var(--text-color);
    cursor: pointer;
}

.heartRed {
    display: none;
}

.pagination {
    text-align: end;
    margin: 20px 0 30px 0;
}

.page {
    font-weight: 300;
    font-size: 1.5rem;
    padding: 5px 10px;
    transition: color .25s ease;
    cursor: pointer;
}

.page:hover {
    background-color: var(--second-color);
    color: var(--primary-color);
}

/* CONTACT */
.contact {
    margin-top: 20px;
    background-color: var(--second-color);
    justify-content: center;
    align-items: center;
}

.contact-block {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 27px 0;
    width: 100%;
}

.contact-block:not(:last-child) {
    border-right: 1px solid rgba(246,243,228,.1);;
}

.contact-img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    margin-bottom: 10px;
}

.contact-block a {
    color: #fff;
}

.contact-text {
    margin-top: 6px;
    font-weight: 300;
}

/* FOOTER */
.footer {
    padding-top: 50px;
    margin-bottom: 40px;
    justify-content: center;
}

.footer-block {
    text-align: center;
    width: 100%;
    padding: 0 40px;
}

.footer-title {
    font-weight: 500;
}

.footer-list {
    margin-top: 15px;
    list-style: none;
    font-weight: 300;
}

.footer-item {
    margin-top: 10px;
}

.footer-item a {
    transition: color ease .25s;
}

.footer-item:hover a {
    color: var(--hover-color);
}   

.social {
    justify-content: center;
    gap: 1.5rem;
}

.social-logo {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.footer-ratify {
    margin-top: 20px;
}

.copyright {
    border-top: 1px solid var(--border-color);
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

